<%= form_for @work do |f| %>
	<% if @work.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@work.errors.count, "error") %> prohibited
        this item from being saved:
      </h2>
      <ul>
        <% @work.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :tag, class: "col-md-1 control-label" %>
    <div class="col-md-4">
			<%= f.text_field :tag, class: "form-control" %>
		</div><br><br>
  </div>
	
  <div class="form-group">
    <%= f.label :item, class: "col-md-1 control-label" %>
		<div class="col-md-4">
			<%= f.text_area :item, class: "form-control" %>
		</div><br><br><br>
  </div>
  
  <div class="form-group">
	<%= f.label :datetime, class: "col-md-1 control-label" %>
		<div class="col-md-4">
			<%= f.datetime_select :datetime, class: "form-control" %>
		</div><br><br>
  </div>
 
  <%= button_tag(type: 'submit', class: "btn btn-success") do %>
		<i class="icon-ok icon-white"></i> Save
	<% end %>
<% end %>